/* Piano Waterfall */
.piano-waterfall {
  flex-grow: 1;
  width: calc(100% - 164px);
  height: 100%;
  position: relative;
  display: flex;
  margin: 5px calc(50px + 32px);
  margin-bottom: 5px;
  background: var(--waterfall);
}

.piano-waterfall-octave {
  flex-grow: 1;
  outline: 1px solid red;
  position: relative;
}

.piano-waterfall-octave-white,
.piano-waterfall-octave-black {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.piano-waterfall-octave-black {
  display: none;
}

.piano-waterfall-column {
  flex-grow: 1;
  outline: 1px solid blue;
  position: relative;
}

.piano-waterfall-column.half {
  flex-grow: 0.5;
}

.piano-waterfall-column.hidden {
  visibility: hidden;
}

.piano-waterfall-note {
  position: absolute;
  background-color: black;
  width: 100%;
}
