.sections {
  display: flex;
  align-items: center;
  font-size: 20px;

  svg {
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  .section {
    margin: 0 10px;
    height: 100%;
  }

  .recordings {
    > svg {
      margin: 0 8px;
    }

    input {
      font-size: 20px;
      background-color: var(--tertiary);
      padding: 5px 10px;
      margin: 0 5px;
      color: white;
      border-radius: 10px;
      min-width: 200px;
      width: auto;
      border: none;
      height: 100%;

      &::placeholder {
        color: white;
      }
    }
  }

  .users {
    .user-profile:not(.user-profile:nth-child(1)) {
      margin-left: -10px;
    }

    span {
      color: var(--primary);
      margin-left: 10px;
    }
  }

  > .user-profile {
    margin-left: 15px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
