div.piano {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  padding: 18px 32px;
  border-radius: 8px 8px 12px 12px;
  background: var(--keyboard);
  margin: 60px auto;
  margin-top: 0;
  box-shadow: 5px 5px 0 var(--keyboard-shadow);
}

.piano-key {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  button {
    padding: 0;
    outline: none;
    border: solid 1px var(--keyboard);
    transition: all 100ms ease-out;
  }

  &.white-key {
    display: flex;
    align-items: flex-end;
    height: var(--keyboard-white-height);

    button {
      width: 30px;
      height: var(--keyboard-white-height);
      box-shadow: inset var(--keyboard-white-shade) 0 -10px 0 0;
      background-color: var(--keyboard-white);
    }

    &.active button {
      background: var(--keyboard-white-pressed);
      box-shadow: inset var(--keyboard-white-shade) 0 -2px 0 0;
      height: calc(var(--keyboard-white-height) - 4px);
    }
  }

  &.black-key {
    display: flex;
    align-items: flex-end;
    height: var(--keyboard-black-height);

    button {
      z-index: 99;
      background-color: var(--keyboard-black);
      position: relative;
      width: 20px;
      margin-right: -20px;
      height: var(--keyboard-black-height);
      transform: translate(-10px, -10px);
      box-shadow: inset var(--keyboard-black-shade) 0 -10px 0 0;
    }

    &.active button {
      background: var(--keyboard-black-pressed);
      box-shadow: inset var(--keyboard-black-shade) 0 -2px 0 0;
      height: calc(var(--keyboard-black-height) - 4px);
    }
  }
}
